.conda
.vscode
01062023
04062023
ARQUIVOS QUE ESTAVAM NA RAIZ
final
final 06062023 2033
final 06062023 2249 university fix, split fix, data cleaning fix
final 08062023 corrigido mas resultados antigos com dataset coluna duplicada
final 08062023 CountVectorizer no how to file
final 10062023 1629 so train e test, tunning semimanual (tuna cada parametro por vez)
final 10062023 1642 validation set, derrubou os scores
final 10062023 randomsearch validation dataset
final 11062023 modificando escrita
final 13032023 escrita scrapped
final 13062023 1300 escrita
final 14062023 escrita resultados
final 14062023 escrita resultados github
final 14062023 escrita resultados SCRAPPED
tcc_2023 
tcc_2023.pub

keys
